[submodule "service-registry"]
	path = service-registry
	url = https://github.com/Cloud-Commerce/service-registry.git
	branch = main
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/Cloud-Commerce/gateway-service.git
	branch = main
[submodule "authN-service"]
	path = authN-service
	url = https://github.com/Cloud-Commerce/authN-service.git
	branch = main
[submodule "authZ-lib"]
	path = authZ-lib
	url = https://github.com/Cloud-Commerce/authZ-lib.git
	branch = main
